body{
    margin: 0;
    box-sizing: border-box;
}

#div_topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(13, 9, 129);
    color: #eee;
    padding: 5px;
}
#img_topbar{
    height: 50px;
    width: auto;
}
#btn_login{
    background-color: rgb(54, 22, 182);
    color: #eee;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

/* sections */
.section{
    margin: 10px 0;
}   
.container{
    width: 80%;
    margin-left: 10%;
} 